/* general */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'gg sans',Noto Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  
}

.bg-grey{
  background-color: #F6F6F6;
  min-height: 600px;
}

.big-button{
  display: inline-block;
}

.bottoni-jumbo{
  display: flex;
  justify-content: center;
}

a{
  text-decoration: none;
}

p{
  line-height: 1.625;
}

h2{
  font-size: 38px;
  font-weight: 800;
  text-align: center;
  padding-bottom: 20px;
  
}

.text p{
  color: #23384c;
}
/* header */
header{
  height: 80px;
  background-color: #255ee9;
  
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header .menu ul{
  display: flex;
  list-style: none;
}

header .menu ul li{
  margin: 0 15px;
}

header .menu ul li a{
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
}

.logo img{
  width: 100px;
}


.button a{
    background-color: white;
    padding: 10px 15px;
    border-radius: 22px;
    font-size: 13px;
    text-decoration: none;
    color: black;
  }


.content h1{
  font-size: 56px;
  font-family: "ABC Ginto Nord","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  line-height: 95%;
  padding-bottom: 30px;
}


div p{
  text-align: center;
  color: #f3ecfc;
  line-height: 1.625;
}

.text{
  padding-top: 50px;
}
/* jumbodrill */
.jumbotron{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  
}



.jumbotron .content{
  width: 40%;
  /* background-color: #ee82ee; */
  height: 300px;
}

.big-button a{
  background-color: white;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 18px;
  display: inline-block;
  margin-top: 30px;
  margin-right: 20px; 
}

.white a{
  color: black;
}

.black a{
  color: #ffffff;
  background-color: black;
}
/* main */

section{
  padding: 30px 0;
  min-height: 600px;
}

section .container{
  display: flex;
  background-color: #228b22;
  height: 400px;
}

section .container .image{
  width: 60%;
  background-color: #1e90ff;
}

section .container .text{
  width: 40%;
  background-color: #ffc0cb;
}

section.bottom .container{
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title{
  line-height: 95%;
  text-transform: uppercase;
}

.title + p{
  color: #23384c;
}

.bg-grey.bottom{
  height: 1200px;
}

.tec{
  margin-top: 400px;
}

.image-cta{
  margin-bottom: 110px;
}
.cta{
  font-size: 28px;
  font-weight: 700;
  
}

.blue a{
  color: white;
  background-color: #7983f5;
  
}

.bottom{
  
}
/* footer */

footer{
  background-color: #24272A;
}

footer .top{
  display: flex;
  height: 300px;
  /* background-color: rgb(109, 208, 79);  */
  
}

footer .top .col-icon{
  width: calc(100% / 3);
  height: 100%;
  background-color: #f08080;
}

footer .top .col-menu{
  width: calc(100% / 6);
  height: 100%;
  background-color: #20b2aa;
  border: 2px dashed black;
  
}

footer .bottom{
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #7fffd4;
}

.top{
  padding-top: 80px;
}

h3{
  font-family: "ABC Ginto Nord","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 40px;
}
